<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.midasit.challenge">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.admin.AdminActivity" />
        <activity android:name=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.admin.managemember.RegisterActivity" />
        <activity android:name=".ui.admin.cafemenu.SearchActivity" />
        <activity
            android:name=".ui.admin.cafemenu.detail.AdminMenuDetailModifiActivity"
            android:parentActivityName=".ui.admin.cafemenu.detail.AdminMenuDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.admin.cafemenu.detail.AdminMenuDetailActivity" />
        </activity>
        <activity android:name=".ui.member.cafemenu.reserve.MemberMenuDetailActivity" />
        <activity android:name=".ui.member.purchaseform.TestActivity" />
        <activity
            android:name=".ui.admin.cafemenu.detail.AdminMenuDetailActivity"
            android:parentActivityName=".ui.admin.AdminActivity">
            <meta-data
                android:name="android.supoort.PARENT_ACTIVITY"
                android:value=".ui.admin.AdminActivity" />
        </activity>
        <activity android:name=".ui.member.MemberActivity" />
        <activity android:name=".ui.admin.managemember.RegisterModificationActivity" />
        <activity android:name=".ui.admin.cafemenu.detail.AdminMenuDetailAddActivity"></activity>
    </application>

</manifest>